body {
  font-family: Muli, sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-primary-extra-light;
}

.heading-primary {
  &--main {
    font-size: 6rem;
    letter-spacing: .2rem;

    @include respond(phone) {
      letter-spacing: normal;
    }
  }
  &--sub {
    font-size: 4rem;
    border-bottom: 2px solid;
    letter-spacing: .2rem;

    @include respond(phone) {
      letter-spacing: normal;
    }
  }
}

.heading-secondary {
  display: inline-block;
  width: auto;
  margin: 1rem auto;
  letter-spacing: 1.5px;
}

.heading-tertiary {
  font-weight: 600;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
