.contact {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, $color-primary, $color-primary-dark);
  background-size: cover;

  &__heading {
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__form-box {
    text-align: center;
    margin: 6rem 10%;
    padding: 4rem;
    height: 48rem;
    background-color: $color-primary-light;
    border-radius: 10px;
  }
}

.form {
  width: 100%;

  &__group {
    // display: inline-block;
    margin: 0 2rem;

    &--credentials {
      width: 90%;
      text-align: justify;
      text-align-last: justify;
    }

    &--message {
      width: 90%;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__subgroup {
    display: inline-block;
  }

  &__input {
    width: 28rem;
    height: 2.5rem;
    border: none;
    padding: 0 1rem;
    transition: all .3s;
    border-radius: 5px;
    background-color: $color-primary-light;
    box-shadow: inset -.5rem .5rem 1rem rgba($color-primary-dark, .3), inset .3rem -.3rem .6rem rgba($color-white, .3);

    font-size: $default-font-size;
    font-family: Muli, sans-serif;
    color: $color-primary;

    &:focus {
      outline: none;
      // box-shadow: 0 1rem 2rem rgba($color-primary-dark, .1);
    }

    &::placeholder {
      font-size: $default-font-size;
      font-family: Muli, sans-serif;
      color: $color-primary;
    }

    &--message {
      max-height: 20rem;
      min-width: 20rem;
      height: 18rem;
      width: 100%;
      resize: none;
      padding-top: .5rem;
    }
  }

  &__input:placeholder-shown &__label {
    
  }

  &__label {
    display: block;
    text-align: left;
    padding-left: 1rem;
    transition: all .3s;

    & {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-3rem);
    }
    // width: 24rem;
  }

  &__submit {
    height: 6rem;
    width: 18rem;
    background-color: $color-primary-light;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.8rem;
    color: $color-primary;
    transition: all .2s;
    cursor: pointer;
    box-shadow: -.5rem .5rem 1rem rgba($color-primary-dark, .3), .5rem -.5rem 1rem rgba($color-white, .3);

    &:hover {
      // transform: translateY(-.5rem);
      box-shadow: none;
    }

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: inset -.5rem .5rem 1rem rgba($color-primary-dark, .3), inset .3rem -.3rem .6rem rgba($color-white, .3);
    }
  }

  #name .form__group {
    float: left;
  }
}
