.projects {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, $color-primary, $color-primary-dark);
  background-size: cover;

  &__heading {
    @include absCenter;
    top: 20%;
    text-align: center;
  }
}
