.hero {
  @include absCenter;
  top: 65%;
  width: 100%;
  height: auto;
  text-align: center;

  &__card {
    &, &:link, &:visited {
      text-decoration: none;
      display: inline-block;
      margin: 6rem;
      position: relative;
      height: 36rem;
      width: 24rem;
      background-color: $color-primary-light;
      border-radius: 5px;
      box-shadow: 0 1rem 2rem rgba($color-grey-dark-3, .6);
      transition: all .3s;
    }

    &:hover {
      transform: translateY(-.5rem);
      box-shadow: 0 1.5rem 3rem rgba($color-grey-dark-3, .6);

      & .hero__overlay {
        filter: blur(3px) brightness(80%) contrast(50%);
        // background-color: rgba($color-primary-dark, .4);
      }

      & .hero__subtitle {
        opacity: 1;
        transform: translate(-6rem, -4rem);
      }
    }

    &-0 {
      background-image: url('../src/assets/images/Crates_Media_Logo.png');
      padding-top: 2rem;
      background-size: cover;
      height: 24rem;
      margin-left: 11px;
      // &::after {
      //   background-color: $color-primary-light;
      // }
    }

    &-1 {
      background-image: url('../src/assets/images/yikes.png');
      padding-top: 2rem;
      background-size: cover;
      height: 24rem;
      // &::after {
      //   background-color: $color-primary-grey;
      // }
    }

    &-2 {
      background-image: url('../src/assets/images/react-logo.png');
      padding-top: 2rem;
      background-size: cover;
      height: 24rem;
      // &::after {
      //   background-color: $color-primary-dark;
      // }
    }
  }

  &__title {
    color: $color-primary;
    padding-top: 2rem;
  }

  &__subtitle {
    @include absCenter;
    top: 40%;
    color: $color-primary-extra-light;
    opacity: 0;
    transition: all .3s;
    transform: translate(-6rem, 15rem);
    z-index: 100;
  }

  &__overlay {
    height: 100%;
  }
}
